<div class="container">
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <ul class="list-group">
                <li class="active list-group-item btn btn-primary" type="button" ng-click="addProfessor()">
                   Add Professor
                </li>
                <li class="active list-group-item btn btn-primary" type="button" ng-click="addStudents()">
                    Add Students
                </li>
                <li class="active list-group-item btn btn-primary" type="button" ng-click="addClasses()">
                    Add Class
                </li>
            </ul>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-8 col-lg-8">

        </div>
    </div>

</div>
