<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <div class="form-group">
        <div class="col" align="center">
            <div>
                <label>Email Id : </label>
                <input type="text" name="emailId" id="email" ng-model="queryCriteria.emailId">
            </div>
            <div>
                <label>Password : </label>
                <input type="password" name="password" id="password" ng-model="queryCriteria.password">
            </div>
            <div>
                <button class="btn btn-primary" ng-click="loginUser()">Login</button>
                <a class="btn btn-link">Cancel</a>
            </div>
        </div>

    </div>
</div>
